.App {
  text-align: center;
}

.Discription{

  height : 120px;
  width : 480px;
}
.AddTodoBtn{
  
  height : 200px;
  width : 500px;
}
.Title{

  height : 50px;
  width : 330px;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-right: 10px;
}


